body {
  font-family: monospace;
  text-align: center;
}
.container {
  margin: 50px auto;
  border: 2px solid black;
  border-radius: 5px;
  display: inline-block;
  background: red;
}
.screen {
  height: 50px;
  border: 2px solid black;
  margin: 10px;
  background: white;
  display: flex;
  justify-content: flex-end;
  max-width: 344px;
}
table {
  border: 1px solid black;
  margin: 10px;
  background: black;
}
td {
  /* border: 0.5px solid black; */
  margin: 2px;
  padding: 5px 30px;
  font-size: 40px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  user-select: none;
  background: #fff;
  transition: 0.2s;
}
td:active {
  color: #000;
  transform: translateY(1px);
}
td:hover {
  /* box-shadow: 3px 3px 10px rgb(0, 0, 0); */
  background: rgb(224, 224, 224);
}
p {
  font-size: 28px;
  text-align: right;
  line-height: 20px;
}
